/* Text Color */

.text-primary {
  color: #1d9bf0;
}

.text-secondary {
  color: #fcfbf3;
}
.text-color-grey{
  color:#888888
}

.text-color-black{
  color:#222222
}

.text-color {
  color: #6a6a6a;
}

/* Background */

.bg-profile{
  background: #D9D9D9;
}
.bg-color-black {
  background: #222222;
}

.bg-color-white {
  background: #FFFFFF;
} 

.bg-primary {
  background: #1d9bf0;
}


/* Box shadow */

.custom-shadow {
  box-shadow: 5px 10px #aa2f2f;
}
